@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;

}
body{
    background-color: rgb(162, 30, 199);
}
nav{
    height: 50px;
    background-color: rgb(233, 230, 230);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: relative;
    padding:0px 20px;
}


.dark{
    background-color: rgb(41, 40, 40);
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}


#themeBox{
    display: flex;
    align-items: center;
    gap:10px;
}


#todoContainer{
    min-height: calc(100vh - 50px );
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   gap: 2rem;
}
.container{
    background-color: rgb(233, 230, 230);
    min-width:600px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px 30px;
    border-radius:18px;
}


.todo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    gap:1rem;    
}
#todoContainer h1{
       color:rgb(233, 230, 230);
       text-transform: uppercase;
       word-spacing: 10px;
       font-weight: 700;
       font-size: 40px;
}
#todoItems{
    display: flex;
    flex-direction:column;
    width: 100%;
}

.addInput{
    display: flex;
    width: 100%;
    background-color:rgb(233, 230, 230);
    border-radius: 20px;
}

form{
    width: 100%;
    display: flex;
    background:rgb(120, 115, 115);
    border-radius: 20px;
    /* overflow: hidden; */
}
input{
    padding:8px 10px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline:none;
    width: 100%;
    color: #fff;

}
form input {
    width: 70% !important;
    background:rgb(120, 115, 115);
}
#addTodoBtn {
    width:30% !important;
    background-color:rgb(162, 30, 199) !important;
    color: white !important;
}
.addInput #addTodoBtn{
    padding:8px 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background:rgb(20, 245, 200);
    color: rgb(162, 30, 199);
}
#todoItems{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
li{
    display: flex;
    justify-content: space-between;
    padding:5px 2px;
    list-style: none;
    font-size:18px;
}
li p{
    font-size:22px;
    color: rgb(41, 40, 40);

}
.icons{
    display: flex;
    gap: 5px;
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}
.fa-trash{
    color: rgb(45, 42, 42);
}
.fa-pen-to-square{
    color: rgb(57, 167, 90);
}
.fa-pen-to-square:hover,.fa-trash:hover{
    transform: translateY(-2px);
    cursor: pointer;
}
.clearTodos{
    color: rgb(162, 30, 199);
}
.clearTodos:hover{
    cursor: pointer;
}
.colorwhenedit{
    background-color: goldenrod !important;
    color: white !important;
}


@media screen and (max-width:690px) {
    .container{
        min-width:80vw;
    }
}

@media screen and (max-width:576px) {
    .container{
        margin:0px 35px;
    }
    li p{
        font-size:18px;
    }
    i{
        font-size: 18px;
    }
    input{
        font-size:18px;
    }
    .clearTodos{
        color: rgb(0, 0, 0) !important;
        font-size:18px;
    }
}



.nav-dark{
    background-color: rgb(120, 115, 115);
}
.todo-container-dark{
    background-color: rgb(63, 62, 62) !important;
}
body.dark #todoItems p {
    color: rgb(200, 11, 253) !important;
}

body.dark .fa-trash{
    color: rgb(213, 72, 72) !important;
}
.clearTodos-dark{
    color: rgb(233, 230, 230);
}